{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery{% endblock title %}

{% block content %}


<div class="row">
  <div class="column">
    <img src="{% static '/images/nat1.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="{% static '/images/nat2.jpg' %}" alt="Snow" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="{% static '/images/nat3.jpg' %}" alt="Mountains" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="{% static '/images/nat4.jpg' %}" alt="Lights" style="width:100%" onclick="myFunction(this);">
  </div>
</div>

<!-- The expanding image container -->
<div class="container">
  <!-- Close the image -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

  <!-- Expanded image -->
  <img id="expandedImg" style="width:100%">

  <!-- Image text -->
  <div id="imgtext"></div>
</div>

{% endblock content %}